.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.5)
        ),
        url("https://images.pexels.com/photos/267569/pexels-photo-267569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(240,240,240,1);
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
}

.registerForm > label {
    margin: 15px;
    margin-left: 25px;
}

.registerInput {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border: none;
    font-family: 'Varela Round', sans-serif;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
}
