.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #333;
}

.headerTitleSm {
    position: absolute;
    top: 10%;
    font-size: 20px;
}

.headerTitleLg {
    position: absolute;
    top: 13%;
    font-size: 100px;
    padding: 5px;
    padding-top: 0px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(240,240,240,0.5);
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}
